*.log
*.pyc
*.spec
.vscode
.idea
.project
.pydevproject

Evolve_Boogie_data/**/*.bpl
Evolve_Boogie_data/**/*.boogie
Evolve_Boogie_data/**/*.c

**/.boogie_normalized/
**/template/
tmp/
tmp_err/

test_temp_cmd_output.txt
__pycache__
